html, body {
  background-color: #e4e8f0;
  font-family: 'Cabin', sans-serif;
  color: #393230 !important;
  -webkit-font-smoothing: antialiased;
}  

h1, h2 {
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

a {
  color: #5677E8;
}

.btn {
  padding: .375rem 2rem;
  -webkit-font-smoothing: antialiased;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-primary {
  background-color: #1A9972;
}

.btn-primary:hover {
  background-color: #167E5E;
  box-shadow: 0 3px 4px rgba(0,0,0,.2);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #167E5E;
}

.grid-container {
  display: grid;
  width: calc(100% - 4rem);
  margin-left: 2rem;
  grid-template-areas: "week main";
  grid-template-columns: 1fr 6fr;
  align-items: start;
  justify-items: stretch;
}

.week {
  grid-area: week;
  overflow-x: scroll;
}

main {
  grid-area: main;
  height: 100vh;
  overflow: auto;
}

.day-food-grid {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-areas: "day food-search";
  grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
  align-items: flex-start;
  align-content: flex-start;
}
  
.day {
  grid-area: day;
}

.food-header-search-container {
  grid-area: food-search;
}

.food-header {
  /* grid-area: food-header; */
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 2rem;
  align-items: center;
}

.food-header h2 {
  margin-bottom: 0;
}

/* .search-area {
  grid-area: search;
} */

@media (max-width: 768px) {
  .grid-container {
    width: 100%;
    grid-template-areas: 
      "week"
      "main";
    grid-template-columns: 1fr;
    margin-left: 0;
  }

  .food-header-search-container {
    grid-gap: 0;
    margin-right: 1rem;
  }

  .food-header .btn-primary {
    background-color: transparent;
    color: #1A9972;
    padding: 0;
  }

  .food-header .btn-primary:hover,
  .food-header .btn-primary:focus,
  .food-header .btn-primary:active {
    background-color: transparent !important;
    color: #1A9972 !important;
    box-shadow: none;
    text-decoration: underline;
  }

  .search-area {
    margin: 0 1rem;
  }

  main {
    overflow: visible;
  }
}

@media (max-width: 520px) {
  .day-food-grid {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-template-areas: 
    "food-search"
    "day";
  }

  .food-header-search-container {
    margin: 0 1rem 1rem;
  }
}

.card-style {
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}