html, body {
  /* background-color: #E7EBF3; */
  /* background-color: #fef6f3; */
  background-color: #e4e8f0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Cabin', sans-serif;
  color: #393230 !important;
  -webkit-font-smoothing: antialiased;
}  

h1, h2 {
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

a {
  color: #5677E8;
}

.btn {
  padding: .375rem 2rem;
  -webkit-font-smoothing: antialiased;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-primary {
  background-color: #1A9972;
  /* background: rgb(21,153,117);
  background: linear-gradient(90deg, rgba(21,153,117,1) 0%, rgba(11,194,144,1) 100%); */
}

.btn-primary:hover {
  background-color: #167E5E;
  /* background: rgb(22,126,94);
  background: linear-gradient(90deg, rgba(22,126,94,1) 0%, rgba(10,168,125,1) 100%); */
  box-shadow: 0 3px 4px rgba(0,0,0,.2);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #167E5E;
  /* background: rgb(22,126,94);
  background: linear-gradient(90deg, rgba(22,126,94,1) 0%, rgba(10,168,125,1) 100%); */
}

.grid-container {
  display: grid;
  width: calc(100% - 4rem);
  margin-left: 2rem;
  grid-template-rows: auto;
  grid-template-columns: [week] 1fr [main] 6fr;
  align-items: start;
  justify-items: stretch;
}

.week {
  grid-column: week;
  overflow-x: scroll;
}

main {
  grid-column: main;
  height: 100vh;
  overflow: auto;
}

.day-food-grid {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: [day] 1fr [food] 3fr;
  grid-gap: 2rem;
  align-items: start;
  justify-items: stretch;
}
  
.day {
  grid-column: day;
}
  
.food {
  grid-column: food;

  display: grid;
  grid-template-rows: [header] auto [food-tables] auto;
  grid-template-columns: auto;
  /* grid-template-columns: [meal] 1fr [snack] 1fr [beverage] 1fr; */
  grid-gap: 2rem;
  align-items: start;
  justify-items: stretch;
}

.food-header {
  grid-row: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.food-tables {
  grid-row: food-tables;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: start;
  justify-items: stretch;
}

@media (max-width: 1230px) {
  .food-tables {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 960px) {
  .food-tables {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-container {
    width: 100%;
    grid-template-columns: 1fr;
    margin-left: 0;
  }

  .food-header {
    grid-template-columns: repeat(1, 1fr);
  }

  main {
    overflow: visible;
  }
}

@media (max-width: 520px) {
  .day-food-grid {
    grid-template-columns: 1fr;
    grid-gap: 2rem 0;
  }
}

.ingredients {
  margin-bottom: 2rem;
}

.card-style {
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}